<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
      background-image: url('https://wonderfulengineering.com/wp-content/uploads/2016/02/one-piece-wallpaper-5.jpg');
      background-position: center;
      background-repeat: no-repeat;
      color:ghostwhite;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:250px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to the Sparta Test App - CICD</h1>
    <h2>Filipe -The app is running correctly. Running in our Pipeline - This test with Shahrukh</h2>
  </div>
  <h1>John WAS HERE!</h1>
  <img src="https://media3.giphy.com/media/YWB6Hi29vA3jG/giphy.gif">
  <img src="https://i.pinimg.com/originals/90/fc/75/90fc751accdcf43a23c69c91aba330d3.gif">
  <img src="https://i.pinimg.com/originals/64/46/c3/6446c3c9adf0ed6cf52f4ba61d13f3e6.gif">
</html>
